{% extends "index.html" %}
{% block youtube %}
    <aside class="bg-dark" id="youtube">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>YouTube Video?</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">YouTube Links</a>
                <iframe width="700" height="393" src="https://www.youtube.com/embed/WhvrLOSb5I4" frameborder="0" allowfullscreen></iframe> 
            </div>
        </div>
    </aside>
{% endblock %}
